
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/home/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="https://firebasestorage.googleapis.com/v0/b/kyte-7c484.appspot.com/o/FIARXDcUSOXGCb%2Fthumb_280_Ju2DGFxT09muQnPCJx7O1w%3D%3D.jpg?alt=media&token=b666e5a6-cf9e-44ea-86c5-b68116081b2b" alt="" width="50" height="50" class="rounded-cube me-2">
        <span class="fs-4"><strong>ZTEC</strong></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a th:href="@{/home/}" class="nav-link active">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-house-door-fill"></i></svg>
                Home
            </a>
        </li>
        <li>
            <a th:href="@{/venta/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-cart4"></i></svg>
                Ventas
            </a>
        </li>
        <li>
            <a th:href="@{/producto/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-motherboard"></i></svg>
                Productos
            </a>
        </li>
        <li>
            <a th:href="@{/cliente/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-person-circle"></i></svg>
                Clientes
            </a>
        </li>
        <li>
            <a th:href="@{/proveedor/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-grid-1x2-fill"></i></svg>
                Proveedores
            </a>
        </li>
        <li>
            <a th:href="@{/usuario/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-person-circle"></i></svg>
                Usuarios
            </a>
        </li>
        <li>
            <a th:href="@{/mediopago/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-cash-coin"></i></svg>
                Medios de pago
            </a>
        </li>
        <li>
            <a th:href="@{/tipocomprobante/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-file-earmark"></i></svg>
                Tipos de Comprobante
            </a>
        </li>
        <li>
            <a th:href="@{/compra/}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-cart4"></i></svg>
                Compras
            </a>
        </li>
        <li>
            <a th:href="@{/reporte/mostrar}" class="nav-link text-white">
                <svg class="bi pe-none me-0" width="0" height="10"><i class="bi bi-info"></i></svg>
                Datos
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://firebasestorage.googleapis.com/v0/b/kyte-7c484.appspot.com/o/FIARXDcUSOXGCb%2Fthumb_280_Ju2DGFxT09muQnPCJx7O1w%3D%3D.jpg?alt=media&token=b666e5a6-cf9e-44ea-86c5-b68116081b2b" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>User</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
        </ul>
    </div>
</div>

<div class="b-example-divider b-example-vr"></div>

