<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <style>
        body {
            background-image: url("https://s1.1zoom.me/big0/991/326852-alexfas01.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
        }

        .card {
            background-color: rgba(255, 255, 255, 0.9); /* Fondo del formulario */
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
                <div class="card col-sm-5">
                    <div class="alert alert-primary alert-lg text-center">
                        <h1>Login</h1>
                    </div>
                    <br>
                    <div class="text-center">
                        <img src="https://firebasestorage.googleapis.com/v0/b/kyte-7c484.appspot.com/o/FIARXDcUSOXGCb%2Fthumb_280_Ju2DGFxT09muQnPCJx7O1w%3D%3D.jpg?alt=media&token=b666e5a6-cf9e-44ea-86c5-b68116081b2b" alt="" width="120" height="120" class="rounded me-2 mx-auto">
                    </div>
                    <br>
                    <!--<form action="/login/buscar" method="post" class="row g-3">-->
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <label class="form-label">Usuario</label>
                                <input type="text" class="form-control" name="user" placeholder="USUARIO">
                            </div>
                        </div>
                        <div class="my-4"></div>
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="pass" placeholder="***********">
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Ingresar</button>
                                </div>
                            </div>
                        </div>
                    <!--</form>-->

                </div>
            </div>
        </div>
    </body>
</html>
